Flask==3.0.3
Flask-SQLAlchemy==3.1.1
PyMySQL==1.1.1
SQLAlchemy==2.0.31
firebase-admin==6.5.0
reportlab==4.2.2
pandas==2.2.2
requests==2.32.3
pymongo==4.8.0
mongoengine==0.28.2
matplotlib==3.9.1
seaborn==0.13.2
numpy==1.26.4
openai==0.28.0
python-dotenv==1.0.1
tenacity==8.5.0
scikit-learn==1.5.1
xgboost==2.1.0
statsmodels==0.14.2
Werkzeug==3.0.3
